.featured-container{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title{
    height: 10vh;
    width: 80vw;
    display: flex;
    align-items: center;

}

.t1{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 40px;
    color: #606060;
    @media (max-width: 1000px) {
        font-size: 30px;
    }
    @media (max-width: 530px) {
        font-size: 25px;
    }
    @media (max-width: 400px) {
        font-size: 20px;
    }
}
