.about-container{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.about-title{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-comp{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}